/* 3840x2160 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fjalla One', sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

body html {
  height: 100%;
}

/* ---- Hero ---- */

.hero-inner {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://source.unsplash.com/user/on3ac3short/likes/3840x2160');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* ---- Clock ---- */

#clock #time {
  display: flex;
}

#hours {
  justify-content: right;
}

#hours,
#minutes,
#time-colon {
  font-size: 9em;
  background: rgba(255, 255, 255, 0);
  color: rgb(255, 255, 255);
}

#hours,
#minutes {
  z-index: 9;
  box-shadow: none;
  text-transform: uppercase;
  position: relative;
  align-items: center;
}

.clock-numbers {
  text-shadow: 0px 0px 20px rgb(182, 182, 182);
}

/* ---- Weather ---- */

.weather-main {
  position: absolute;
  top: 20px;
  right: 26px;
  font-size: 18px;
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 20px rgb(126, 126, 126);
}

#location {
  font-size: 1.5em;
}

#temperature,
#description {
  font-size: 2em;
}
